# Configuración del entorno Flask
FLASK_ENV=development
SECRET_KEY=tu_clave_secreta_generada_aqui
DATABASE_URL=mysql+pymysql://usuario:contraseña@localhost/qr_farm

# Configuración de la base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=gestion_ganadera
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui

# Credenciales para el usuario admin (se crean automáticamente al ejecutar Flask)
ADMIN_EMAIL=admin@qrfarm.com
ADMIN_PASSWORD=contrasena_segura_aqui

# Configuración adicional
DEBUG=True
TESTING=False